<nav class="navbar">
  <div class="navbar__container">
    <a routerLink="/" class="navbar__logo">
      <h1 class="navbar__logo-text">Intergalactic Logistics</h1>
    </a>
    <ul class="navbar__list">
      <li class="navbar__item">
        <a routerLink="/starships" routerLinkActive="navbar__link--active" class="navbar__link">Starships</a>
      </li>
      <li class="navbar__item">
        <a routerLink="/book-shipment" routerLinkActive="navbar__link--active" class="navbar__link">Book Shipment</a>
      </li>
    </ul>
  </div>
</nav>

